<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Boleta de Pago</h2>
    <p>Producto :{{ nombre }}</p>
    <p>Precio :{{ precio }}</p>
    <p>Cantidad :{{ cantidad }}</p>
    <p>Impuesto(18%) :{{ igv }}</p>
    <p>Total a Pagar :{{ total }}</p>
    <br>
    <a href="{% url 'index' %}">Nueva venta</a>
</body>

</html>